<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/output.css" />
    <link rel="stylesheet" href="/css/fonts.css" />

    <title><%= App %></title>
  </head>
  <body
    class="flex justify-center items-center h-[100vh] bg-[url('/img/bg.png')] bg-no-repeat bg-cover bg-center"
  >
    <div
      class="main flex flex-col gap-4 justify-center items-center h-[60vh] w-[90vw] md:w-[70vw] self-center bg-[#beef00] rounded-2xl shadow-gray-700 shadow-2xl"
    >
      <div class="logo w-30">
        <img class="rounded-full" src="/img/logo.png" alt="logo" />
      </div>
      <h1 class="text-[30px] md:text-[40px] cutive-regular"><%= App %></h1>
      <div class="inputbar">
        <input
          class="bg-white outline-0 w-60 md:w-75 h-8 rounded-full p-3 cascadia-code shadow-gray-700 shadow-sm"
          id="movie_name"
          type="text"
          placeholder="Enter the movie name"
        />
      </div>
      <button
        class="cascadia-code bg-[#0B1B2A] text-white w-30 h-8 rounded-full transition duration-400 ease-in-out disabled:opacity-50 disabled:cursor-not-allowed"
        id="analyse"
      >
        Analyse
      </button>

      <div class="loader hidden" >
        <script
          src="https://unpkg.com/@lottiefiles/dotlottie-wc@0.8.5/dist/dotlottie-wc.js"
          type="module"
        ></script>

        <dotlottie-wc
          src="https://lottie.host/6a22190d-880b-473d-97a7-04d8f4a56c19/53ShO1M7c7.lottie"
          style="width: 80px; height: 50px"
          autoplay
          loop
        ></dotlottie-wc>
      </div>
    </div>

    <script src="/js/script.js"></script>
  </body>
</html>
