<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/output.css">
    <title><%= App %></title>
</head>
<body>
    <div class="main flex flex-col justify-center items-center h-[100vh] w-full">
        <h1><%= App %></h1>
        <div class="inputbar">
            <input class="" type="text">
        </div>
        <button>Analyse</button>
    </div>  
</body>
</html>