<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/output.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <title><%= title %></title>
</head>
<body class="flex justify-center items-center h-[100vh] bg-[url('/img/bg.png')] bg-no-repeat bg-cover bg-center">
     <div class="main flex flex-col gap-4 justify-center items-center h-[80vh] w-[90vw] md:w-[75vw] self-center bg-[#beef00] rounded-2xl shadow-gray-700 shadow-2xl">
         <h1 class="text-[15px] md:text-[30px] cutive-regular"><%= title %></h1>
        <img class="rounded-xl w-40 border-3 border-[#0B1B2A]  shadow-gray-700 shadow-sm" src="<%= poster %>" alt="poster">
     </div>
</body>
</html>